extends ./layout.jade
block contenido
	link(href="./fonts/style.css" rel="stylesheet")
	//-h2(class="text-center m-title")
	//-	strong Gracias 
	//-		span(class="icon-emoji-flirt")
	h2(class="text-center m-title")
		strong Resultados detallados de los votos.

	section(class='text-center')
		each profesor in resultados
			div( class="col-lg-1 col-md-2 col-sm-3 col-xs-3 col-xs-offset-3 inline-block b-img " )
				label.col-sm-2.control-label(name='title' class='text-center') #{profesor.title}  
				img( src="#{ profesor.image.url }" class="col-xs-12 no-float img-circle")
				label.col-sm-2.control-label(name='title' class='text-center') #{profesor.pricing}  Votos
	br
	br
	br
	section(class='text-center')
		p Gracias por tu participación.
		span(class="icon-emoji-flirt") 
	