/* Mixings &  Variables */
* {
  box-sizing: border-box;
}
.grafico-barras {
  margin-bottom: 1em;
  position: relative;
  width: 80%;
  margin: 3em;
  height: auto;
}
.barra-fondo {
  border-radius: 2px;
  background: #DAE4EB;
  margin-bottom: 10px;
  display: block;
}
.barras {
  background-color: cyan;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: .5em;
  position: relative;
  z-index: 9999;
  display: block;
  height: 20px;
  width: 0%;
}
.barras:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.barras:last-child {
  margin-bottom: 0;
}
.barras:after {
  position: absolute;
  content: attr(data-value);
  display: none;
  font-size: 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 10px;
  margin-left: 5px;
  left: 100%;
  top: 0;
}
.barras:hover:after {
  display: block;
}
.barras-legend {
  position: absolute;
  margin-right: 10px;
  left: -40px;
  z-index: 9999;
}
